@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
::selection {
  background-color: #000;
  color: #beff6c;
}

@layer utilities {
  .pattern {
    width: 100%;
    height: 100%;
    /* min-height: 577px; */
    /* height: 577px; */
    background-image: url("../../public/bg_pattern.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .remove-img {
    background-image: url("../../public/remove.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .shadow-custom {
    box-shadow: 0px 18px 40px 0px rgba(0, 0, 0, 0.1),
      0px 72px 72px 0px rgba(0, 0, 0, 0.09),
      0px 163px 98px 0px rgba(0, 0, 0, 0.05),
      0px 290px 116px 0px rgba(0, 0, 0, 0.01),
      0px 453px 127px 0px rgba(0, 0, 0, 0);
  }
  @media (max-width: 1400px) {
    .pattern {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  @media (max-width: 992px) {
    .pattern {
      background-size: 100%;
      min-height: 540px;
    }
  }
  @media (max-width: 768px) {
    .pattern {
      min-height: 500px;
      display: grid;
      aspect-ratio: 2/1;
      grid-template-rows: 1fr 1fr 1fr;
      background-image: none;
    }
    .pattern div {
      align-self: center;
      grid-row: span 3 / span 3;
    }

    .pattern form {
      padding-bottom: 60px;
      padding-left: 56px;
      padding-right: 56px;
    }
    main {
      background-image: url("../../public/bg_pattern_mob.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position-y: 40px;
    }
  }
}